/* MAIN DASHBARD WRAPPER */
.main-dashboard__wrapper {
  // Spacing properties
  padding: 16px 32px;
}

.main-dashboard__heading-wrapper {
}

.main-dashboard__key-stats {
  // Flexbox properties
  display: flex;

  // Spacing properties
  margin-top: 30px;
}

.main-dashboard__kpi-and-graph-wrapper {
  // Flexbox properties
  display: flex;
  flex-direction: column;
  flex: 60%;

  min-width: 700px;
}

.main-dashboard__kpi {
  // Flexbox properties
  display: flex;

  gap: 10px;
}

.main-dashboard__leaderboard {
  // Flexbox properties
  display: flex;
  flex-direction: column;
  flex: 40%;
}
