.header-wrapper {
  // Flexbox properties
  display: flex;
  justify-content: space-between;

  // Dimensions
  height: 69px;

  // Padding
  padding: 16px 16px 16px 32px;

  // Grid area
  grid-area: header;
}
